@charset "UTF-8";
/* Estilos de telas */

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color: rgb(255, 218, 98);
}
header>h1{
    text-align: center;
}
menu li{
    color: aliceblue;
    display: inline;
    padding: 10px;
}
menu ul{
    list-style-type: none;
    background-color: rgb(27, 27, 27);
}
article{
    width: 600px;
    display: block;
    margin: auto;


}
