@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right,#042940,#005C53);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #614b3bb1;
    width: 600px;
    padding: 10px;
     margin: auto;
}
h1{
 
color: #9FC131;
text-align: center;
text-shadow: 1px 1px 2px #82540598;
}
mark{
   background-color: #DBF227;
}

h2{
color: #008d7fe2;
text-shadow: 1px 1px 2px #4f038291;
}
p{
    text-align: justify;
}
